/.idea
/dist

.pnp.cjs
# Logs
logs
*.log
npm-debug.log*
yarn-error.log

# Dependency directory
node_modules
.yarn-cache

# Yarn
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
